numpy
pandas
keras
scikit-learn
matplotlib
transformers[sentencepiece]
tqdm
py7zr
notebook
nltk
boto3
PyYAML
mypy-boto3-s3
python-box==6.0.2
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
tensorflow
keras
bitsandbytes==0.42.0
peft==0.8.2
trl==0.7.10
accelerate==0.27.1
datasets==2.17.0
transformers==4.38.0
-e.